.input {
    width: 100%;
    padding: 4px 12px;
    border: 1px solid var(--button-primary-hover);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s ease;
}

.input:focus {
    border-color: var(--button-primary-hover);
}