.userItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--button-primary-hover);
    border-radius: 8px;
    overflow: hidden;
}

.userItem {
    display: flex;
    gap: 8px;
}

.userItem:hover {
    background-color: var(--button-secondary-hover);
}

.avatar {
    border-radius: 4px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

a.url {
    text-decoration: none;
    color: var(--anchor);
}

.repositoryButtonContainer {
    text-wrap: nowrap;
}

@media screen and (max-width: 768px) {
    .userItemContainer {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }
}