.main {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 600px;
  width: 100%;
}

@media (max-width: 600px) {
  .main {
    align-items: center;
  }
}

.searchContainer {
  display: flex;
  gap: 12px;
  width: 100%;
  margin: 0 auto;
}

.itemsFound {
  font-size: 14px;
}

