.main {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.searchContainer {
  display: flex;
  gap: 12px;
  width: 100%;
}

.itemsFound {
  font-size: 14px;
}

@media (min-width: 768px) {
  .main {
    min-width: 720px;
  }
}

@media (max-width: 768px) {
  .main h1 {
    font-size: 2rem;
  }

  .main p {
    font-size: 1rem;
  }
}


@media (max-width: 480px) {
  .searchContainer {
    flex-direction: column;
  }

  .main h1 {
    font-size: 1.75rem;
  }

  .itemsFound {
    text-align: center;
  }
}