.githubLink {
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 60vw;
}

.url {
    text-decoration: none;
    color: var(--anchor);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}