.listUser {
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.8s ease;
    height: auto;
    max-height: 1000px;
    overflow: hidden;
}

.listUser:empty {
    max-height: 0;
}